<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Life Timer</title>
    <link rel="icon" href="favicon.png" type="image/icon" sizes="any" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="styles/clearcss.css" rel="stylesheet" type="text/css" />
    <link href="styles/style.css?version=01" rel="stylesheet" type="text/css" />
    <link href="styles/style-header.css?version=01" rel="stylesheet" type="text/css" />
    <script defer src="script.js"></script>
</head>

<body>
    <header>
        <a href="">
            <div>
                <p>Lifer</p>
            </div>
        </a>
        <a href="settings/index.html">
            <div>
                <p>Settings</p>
            </div>
        </a>
    </header>
    <main>

    </main>
    <footer>
        Created by Kr0sh_512
    </footer>
</body>

</html>