header {
    font-family: 'Open Sans', sans-serif;
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px rgb(66, 66, 66) solid;
}

header div {
    margin: 1.25rem;
}

header div:nth-child(2) {
    font-size: 4rem;
}

header div.logo {
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

header div.logo:nth-child(1) {
    background-image: url(../pics/info-48.png);
}

header div.logo:nth-child(3) {
    background-image: url(../pics/account-48.png);
}