@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Mono:wght@400&display=swap');

header {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    height: 7.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px var(--base-red) solid;
    position: sticky;
    top: 0;
    background-color: var(--bs-body-bg);
    color: white;
    z-index: 2;
    padding: 0px 20px;
}

header div {
    margin: 1.25em;
}

header a {
    font-size: 5em;
    color: inherit;
}

header a:nth-child(2) {
    font-size: 3em;
}

a {
    text-decoration: none;
}