header {
    font-family: 'Open Sans', sans-serif;
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px rgb(66, 66, 66) solid;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

header div {
    margin: 1.25rem;
}

header a:nth-child(2) {
    font-size: 4rem;
    color: inherit;
}

header div.logo {
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

header a:nth-child(1)>div.logo {
    background-image: url(../pics/info-48.png);
}

header a:nth-child(3)>div.logo {
    background-image: url(../pics/account-48.png);
}